
.celebrity_row {
    margin-left: 12%;
    width: 74%;
    margin-top: 80px;
}

.celebrity_row_title {
    color: white;
    font-weight: bolder;
}

.celebrity_row_item {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 30px;
}

.celebrity_row_item::-webkit-scrollbar {
    display: none;
}

.row_poster {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    transition: transform 450ms;
}



.celebrity_container {
    margin-right: 10px;
    transition: transform 450ms;
    display:flex;
    flex-direction: column;

}

.row_details {
    display: flex;
    flex-direction: column;
}

.celebrity_container:hover {
    transform: scale(1.09);
}

.celebrity_image {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
}


.celebrity_name {
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    font-size: large;
    font-weight: normal;
}

.celebrity_name:hover {
    text-decoration: underline;
}